.animalProfile {
	float:none;
	list-style-type: none;
	text-align: center;
}

.animalsUpdate {
	float:none;
	list-style-type: none;
	text-align: center;
}

.animalForm {
	justify-content: center;
}

table {
    margin-left:auto; 
	margin-right:auto;
	border: 2px solid black;
	margin-top: 3em;
}

section {
	margin-left:auto; 
    margin-right:auto;
}

